---
test:
  image: node:10.16
  script:
    - npm install
    - npm test

docker-push:
  image: docker:latest
  stage: deploy
  services:
    - docker:dind
  variables:
  script:
    - docker login -u "${DOCKER_REGISTRY_USER}" -p "${DOCKER_REGISTRY_PASSWORD}"
    - docker build --pull -t "lgopublic/lgo-proxy:${CI_COMMIT_TAG:-latest}" .
    - docker push "lgopublic/lgo-proxy:${CI_COMMIT_TAG:-latest}"
  only:
    - master
    - tags
